/*@import
  'vendors/bootstrap4/bootstrap.scss';*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  color: #221d23;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 1.8rem;
}

h1, h2, h3, h4, h5 {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  line-height: 4rem;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 16px;
}
h4 small {
  font-size: 14px;
}

/* Grid */
/* Container */
@media (min-width: 768px) {
  .container {
    width: 750px;
    margin: auto;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
    margin: auto;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
    margin: auto;
  }
}
/* Row */
.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 3rem;
}

@media (min-width: 1200px) {
  .row {
    grid-column-gap: 4rem;
  }
}
/* Columns */
.col-xs-12 {
  grid-column: span 12;
}

.col-xs-11 {
  grid-column: span 11;
}

.col-xs-10 {
  grid-column: span 10;
}

.col-xs-9 {
  grid-column: span 9;
}

.col-xs-8 {
  grid-column: span 8;
}

.col-xs-7 {
  grid-column: span 7;
}

.col-xs-6 {
  grid-column: span 6;
}

.col-xs-5 {
  grid-column: span 5;
}

.col-xs-4 {
  grid-column: span 4;
}

.col-xs-3 {
  grid-column: span 3;
}

.col-xs-2 {
  grid-column: span 2;
}

.col-xs-1 {
  grid-column: span 1;
}

@media (min-width: 768px) {
  .col-sm-12 {
    grid-column: span 12;
  }

  .col-sm-11 {
    grid-column: span 11;
  }

  .col-sm-10 {
    grid-column: span 10;
  }

  .col-sm-9 {
    grid-column: span 9;
  }

  .col-sm-8 {
    grid-column: span 8;
  }

  .col-sm-7 {
    grid-column: span 7;
  }

  .col-sm-6 {
    grid-column: span 6;
  }

  .col-sm-5 {
    grid-column: span 5;
  }

  .col-sm-4 {
    grid-column: span 4;
  }

  .col-sm-3 {
    grid-column: span 3;
  }

  .col-sm-2 {
    grid-column: span 2;
  }

  .col-sm-1 {
    grid-column: span 1;
  }
}
@media (min-width: 992px) {
  .col-md-12 {
    grid-column: span 12;
  }

  .col-md-11 {
    grid-column: span 11;
  }

  .col-md-10 {
    grid-column: span 10;
  }

  .col-md-9 {
    grid-column: span 9;
  }

  .col-md-8 {
    grid-column: span 8;
  }

  .col-md-7 {
    grid-column: span 7;
  }

  .col-md-6 {
    grid-column: span 6;
  }

  .col-md-5 {
    grid-column: span 5;
  }

  .col-md-4 {
    grid-column: span 4;
  }

  .col-md-3 {
    grid-column: span 3;
  }

  .col-md-2 {
    grid-column: span 2;
  }

  .col-md-1 {
    grid-column: span 1;
  }
}
@media (min-width: 1200px) {
  .col-lg-12 {
    grid-column: span 12;
  }

  .col-lg-11 {
    grid-column: span 11;
  }

  .col-lg-10 {
    grid-column: span 10;
  }

  .col-lg-9 {
    grid-column: span 9;
  }

  .col-lg-8 {
    grid-column: span 8;
  }

  .col-lg-7 {
    grid-column: span 7;
  }

  .col-lg-6 {
    grid-column: span 6;
  }

  .col-lg-5 {
    grid-column: span 5;
  }

  .col-lg-4 {
    grid-column: span 4;
  }

  .col-lg-3 {
    grid-column: span 3;
  }

  .col-lg-2 {
    grid-column: span 2;
  }

  .col-lg-1 {
    grid-column: span 1;
  }
}
header {
  height: 90px;
  padding-top: 1%;
}

@media screen and (max-width: 375px) {
  header {
    margin-top: 17px;
  }
}
nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

@media screen and (max-width: 375px) {
  .menu {
    display: none;
  }
}
nav a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  float: left;
  color: #221d23;
}

.logo {
  padding-left: 20px;
}

.menu__izq {
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: 375px) {
  .menu__izq {
    display: none;
  }
}
@media screen and (min-width: 505px) {
  .fa-bars {
    display: none;
  }
}
footer {
  background-color: #221d23;
}

footer a {
  color: #c7c8cc;
}

.copy {
  padding-top: 3%;
}

@media screen and (max-width: 375px) {
  .menu-secondary {
    display: flex;
    justify-content: center;
  }
}
.main__textos {
  margin-top: 20%;
}

@media screen and (max-width: 375px) {
  .main__textos {
    padding: 4%;
  }
}
.main__img {
  background-image: url(../images/bg-hero.svg);
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 71%;
  height: 100vh;
}

@media screen and (max-width: 375px) {
  .main__img {
    background-size: 160%;
  }
}
.section__img {
  background-image: url(../images/bg-price.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 130vh;
  margin-top: 8%;
  padding-bottom: 5%;
}

@media screen and (max-width: 992px) {
  .section__img {
    height: auto;
    padding-top: 53%;
  }
}
.color {
  color: #fff;
}

.section__espacios {
  margin-top: 15%;
}

.cont-flex {
  display: flex;
  justify-content: flex-end;
}

.cont-flex2 {
  display: flex;
  justify-content: flex-start;
}

.section__card {
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  height: 70vh;
  width: 65%;
  padding: 5%;
}

@media screen and (max-width: 992px) {
  .section__card {
    height: auto;
    width: 70%;
    margin: auto;
  }
}
hr {
  width: 80%;
  margin-top: 1%;
  margin-bottom: 1%;
}

small {
  font-size: 30px;
}

ul li {
  margin-left: 10%;
  list-style-type: circle;
}

.section__listas {
  margin-top: 10%;
  margin-bottom: 50%;
}

.section__listas2 {
  margin-top: 10%;
  margin-bottom: 26%;
}

@media screen and (max-width: 375px) {
  .section__textos {
    padding: 4%;
  }
}
.grafico {
  animation: mypal 0.5s;
  animation-timing-function: ease-in;
}

@keyframes mypal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.boton_primario {
  background-color: #2ab7ca;
  border: 1px solid #2ab7ca;
  display: inline-block;
  cursor: pointer;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  padding: 13px 31px;
  text-decoration: none;
  margin-left: 6%;
}

.boton_primario:hover {
  background-color: #77d1dd;
}

.boton_secundario {
  background-color: #fff;
  color: #221d23;
  border: 1px solid #fff;
}

.boton_primario-large {
  background-color: #2ab7ca;
  border: 1px solid #2ab7ca;
  display: inline-block;
  cursor: pointer;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  padding: 13px 31px;
  width: 90%;
  text-decoration: none;
  margin-left: 6%;
}

.boton_primario-large:hover {
  background-color: #77d1dd;
}

/*# sourceMappingURL=main.css.map */
