footer {
	background-color:$raising-black;
}

footer a {
	color:$lavender-gray;
}

.copy {
	padding-top:3%;
}


@media screen and (max-width: 375px) {
  .menu-secondary  {
   	display: flex;
  	justify-content: center;
  }
}