header {
	height:90px;
	padding-top:1%;
}

    
@media screen and (max-width: 375px) {
 header {
   margin-top: 17px;

  }
}




nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
}

@media screen and (max-width: 375px) {
 .menu {
   display:none;

  }
}

nav a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  float: left;
  color:$raising-black;
}

.logo {
	padding-left:20px;
}

.menu__izq {
	display: flex;
    justify-content: flex-end;
}

@media screen and (max-width: 375px) {
 .menu__izq {
   display:none;

  }
}

@media screen and (min-width: 505px) {
 .fa-bars  {
   display:none;

  }
}

