.main__textos {
	margin-top:20%;
}

.main__img {
	background-image: url(../images/bg-hero.svg);
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 71%;
    height: 100vh;

}